.inspiration {
    padding-top: 100px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../img/about/jpg/inspiration-bg.jpg);
        height: 362px;
        z-index: -1;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__images {
        margin-right: 78px;
        margin-left: -230px;
        height: 50%;
    }

    &__content {
        max-width: 825px;
    }

    &__title {
        font-size: 36px;
        line-height: 60px;
        color: $black-title;
        @extend %title-font;
        padding-bottom: 16px;
        margin-bottom: 24px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background: #6d7278;
            width: 200px;
            height: 1px;
        }
    }

    &__text {
        margin-bottom: 30px;
    }

    &__item {
        color: $black-title;
        @extend %title-font;
        line-height: 23px;
        margin-bottom: 33px;
    }

    &__item-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom: 2px solid $white;
        border-radius: 4px;
    }

    &__line {
        height: 2px;
        border-radius: 4px;
        background-color: $black-title;
        margin-top: -2px;
    }
}

.partners {
    padding: 16px 0 60px;
    margin: 0 auto;

    &__items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

}

