.map {
    margin-top: -53px;
    margin-bottom: 50px;

    iframe {
      height: 578px;
    }
}

.contact {
    padding-bottom: 100px;

		&__title {
            color: $black-title;
            @extend %title-font;
            font-size: 36px;
            line-height: 60px;
            padding-bottom: 30px;
            margin-bottom: 40px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 200px;
                background-color: #6d7278;
            }
		}

		&__social {
            padding-left: 284px;
            display: flex;
            margin-bottom: 20px;
		}

		&__social-item + .contact__social-item{
            padding-left: 40px;
		}

		&__social-link {
		}

        &__box {
            padding-left: 284px;
        }

        &__text {
            margin-bottom: 10px;
        }

		&__phone {
            color: $black-default;

		}

		&__st {

		}

		&__city {
            margin-bottom: 16px;
		}

		&__form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
		}

		&__form-input {
            border: 1px solid #dfdfdf;
            border-radius: 20px;
            padding: 6px 17px;
            margin-bottom: 13px;
            width: 48%;
            &::placeholder {
                color: #a1a1a1;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
            }
		}

		&__form-area {
            width: 100%;
            border: 1px solid #dfdfdf;
            border-radius: 24px;
            padding: 14px 17px;
            min-height: 125px;
            margin-bottom: 20px;
            resize: none;
            &::placeholder {
                color: #a1a1a1;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;
            }

		}

		&__form-btn {
            border: none;
            background-color: $black-title;
            color: $white;
            font-weight: 600;
            border-radius: 21px;
            padding: 6px 60px;
            cursor: pointer;
		}
}
