<div class="blog__items">
    <div class="blog__item blog-one__item">
        <img class="blog__item-img" src="img/blog/jpg/big-1.jpg" alt="images">
        <div class="blog__item-info">
            <span class="blog__item-date">
                August 15, 2020
            </span> |
            <a class="blog__item-author" href="#">
                by Ann Summers
            </a> |
            <a class="blog__item-theme" href="#">
                Bedroom Furniture
            </a>
        </div>
        <a class="blog__item-link" href="blog-one.html">
            <h3 class="blog__item-title">
                Red selfies edison bulb four dollar toast design humblebrag for the furniture
            </h3>
        </a>
        <div class="blog-one-text">
            <p>
                Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally
                williamsburg tote bag farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin
                pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst
                enamel pin edison bulb farm-to-table.
                Yuccie portland kickstarter, readymade ramps humblebrag ennui banjo mumblecore vaporware pickled cray
                stumptown 8-bit mlkshk. Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony
                intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche. Tousled yr
                williamsburg austin edison bulb cloud bread vegan street art. Locavore food truck trust fund palo santo
                asymmetrical, franzen deep v marfa kogi whatever swag pop-up seitan.
            </p>
        </div>

        <blockquote class="blog-one__blockquote">
            “Simplicity is not the goal. It is the by-product of a good idea and modest expectations”
            <div class="blog__blockquote-author">
                Paul Rand
            </div>
        </blockquote>
        <p>
            Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book
            yuccie
            woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table.
            Yuccie portland kickstarter, readymade ramps humblebrag ennui banjo mumblecore vaporware pickled cray
            stumptown
            8-bit mlkshk. Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony intelligentsia
            YOLO
            lomo bushwick coloring book. Semiotics man bun venmo viral cliche. Tousled yr williamsburg austin edison
            bulb
            cloud bread vegan street art. Locavore food truck trust fund palo santo asymmetrical, franzen deep v marfa
            kogi
            whatever swag pop-up seitan.
        </p>
        <div class="blog-one__tags">
            <h4 class="blog-one__tags-title">
                Tages
            </h4>
            <a class="blog-one__tags-link" href="#">
                Bedroom furniture
            </a>
            <a class="blog-one__tags-link" href="#">
                Office furniture
            </a>
            <a class="blog-one__tags-link" href="#">
                Dining room furniture
            </a>
            <a class="blog-one__tags-link" href="#">
                Chair
            </a>
        </div>
        <div class="blog-one__links">
            <a class="blog-one__link blog-one__link-prev" href="#">
                <span>Cred selfies edison bulb four dollar toast humblebrag</span> 
            </a>
            <a class="blog-one__link blog-one__link-next" href="#">
                <span>Semiotics fixie four dollar toast, next level</span>
            </a>
        </div>
    </div>
    <div class="blog-one__comments">
        <h4 class="blog-one__comments-title">
            Comments:
        </h4>
        <div class="blog-one__comments-item">
            <img class="blog-one__comments-avatar" src="img/blog/jpg/avatar.jpg" alt="avatar">
            <div class="blog-one__comments-info">
                <p class="blog-one__comments-name">Lea Brown</p>
                <p class="blog-one__comments-data">August 12, 2020</p>
                <p class="blog-one__comments-text">
                    Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO
                    lomo bushwick coloring book. Semiotics man bun venmo viral cliche
                </p>
            </div>
            <button class="blog-one__replay">Replay</button>
        </div>
    </div>
    <form action="" class="blog-one__form">
        <h4 class="blog-one__form-title">
            Post a Comment
        </h4>
        <textarea class="blog-one__form-textarea" placeholder="You comment"></textarea>
        <input class="blog-one__form-input" type="text" placeholder="You name">
        <input class="blog-one__form-input" type="emale" placeholder="You e-male">
        <label for="" class="blog-one__form-label">
            <input class="blog-one__form-labelinput" type="checkbox">
                Remember me
        </label>
        <button class="blog-one__form-btn" type="submit">Submit</button>
    </form>
</div>