<section class="collection">
            <a class="collection__item" href="#">
                <img class="collection__images" src="img\content\jpg\collection-1.jpg" alt="">
                <div class="collection__info">
                    <div class="collection__info-title">
                        Truffault literally trust
                    </div>
                    <div class="collection__info-text">
                        Living room furntiture | Chair 
                    </div>
                </div>
            </a>
            <a class="collection__item" href="#">
                <img class="collection__images" src="img\content\jpg\collection-2.jpg" alt="">
                <div class="collection__info">
                    <div class="collection__info-title">
                        Truffault literally trust
                    </div>
                    <div class="collection__info-text">
                        Living room furntiture | Chair 
                    </div>
                </div>
            </a>
            <a class="collection__item" href="#">
                <img class="collection__images" src="img\content\jpg\collection-3.jpg" alt="">
                <div class="collection__info">
                    <div class="collection__info-title">
                        Truffault literally trust
                    </div>
                    <div class="collection__info-text">
                        Living room furntiture | Chair 
                    </div>
                </div>
            </a>
            <a class="collection__item" href="#">
                <img class="collection__images" src="img\content\jpg\collection-4.jpg" alt="">
                <div class="collection__info">
                    <div class="collection__info-title">
                        Truffault literally trust
                    </div>
                    <div class="collection__info-text">
                        Living room furntiture | Chair 
                    </div>
                </div>
            </a>
            <a class="collection__item" href="#">
                <img class="collection__images" src="img\content\jpg\collection-5.jpg" alt="">
                <div class="collection__info">
                    <div class="collection__info-title">
                        Truffault literally trust
                    </div>
                    <div class="collection__info-text">
                        Living room furntiture | Chair 
                    </div>
                </div>
            </a>
</section>