<div class="container-fluid">
    <div class="contact-slider">
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-0.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-1.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-2.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-3.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-4.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-5.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-6.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-7.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-8.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-9.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>

        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-0.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-1.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-2.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-3.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-4.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-5.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-6.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-7.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-8.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-9.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>

        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-0.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-1.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-2.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-3.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-4.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-5.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-6.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-7.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-8.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
        <a class="contact-slider__link" href="#">
            <img class="contact-slider__img" src="img/gallery-slider/jpg/gallery-slider-9.jpg" alt="images">
            <p class="contact-slider__title">Truffalt literally trust</p>
        </a>
    </div>
</div>