<section class="works-path">
    <div class="container">
        <h3 class="works-path__title">
            How it works
        </h3>
        <div class="works-path__items">
            <div class="works-path__items-box">
                <div class="works-path__item item--consultation">
                    <img class="works-path__item-img" src="img/icons/svg/measurements-tape.svg" alt="icon">
                    <h6 class="works-path__item-title">
                        Designer Consultation
                    </h6>
                        <p class="works-path__item-text">
                            Kinofolk scenester authentic craft beer truffault irony intelligentsia VOLO lomo buswick coloring book. 
                            Semiotics man bun venmo viral cliche.
                        </p>
                </div>
                <div class="works-path__item works-path__item--production">
                    <img class="works-path__item-img" src="img/icons/svg/sofa.svg" alt="icon">
                    <h6 class="works-path__item-title">
                        Production
                    </h6>
                        <p class="works-path__item-text">
                            Everyday carry actually neutra authentic kogi shabby chic
                        </p>
                </div>
            </div>
            <div class="works-path__item works-path__item--measurements">
                <img class="works-path__item-img" src="img/icons/svg/graphic-tool.svg" alt="icon">
                <h6 class="works-path__item-title">
                    Measurements
                </h6>
                    <p class="works-path__item-text">
                        Intelligentsia VOLO lomo buswick coloring book. Semiotics man bun venmo viral cliche.
                    </p>
                
            </div>
        </div>
    </div>
</section>